<footer>
  <div class="container">
    <div class="navbar-brand">
        <table>
            <tr>
                <td><br /><font size="2">
                {% if page.title != "Home" %}
                		For Contributors: 
	                {% if page.path contains "legislation" %}
	                		<a target="_blank" href="https://github.com/opendatainitiative/opendatainitiative.github.io/edit/master/_data/legislation.yml">edit the page data</a>, 
	                	{% elsif page.path contains "transparency" %}
	                		<a target="_blank" href="https://github.com/opendatainitiative/opendatainitiative.github.io/edit/master/_data/transparency.yml">edit the page data</a>, 
	                	{% elsif page.path contains "news" %}
	                		<a target="_blank" href="https://github.com/opendatainitiative/opendatainitiative.github.io/edit/master/_data/news.yml">edit the page data</a>, 
	                {% endif %}
	                <a target="_blank" href="https://github.com/opendatainitiative/opendatainitiative.github.io/edit/master/{{ page.path }}">edit the page</a>, or 
	          		<a target="_blank" href="/contributing">get page editing help</a>
	          {% endif %}
                  <!--
                  <a class="navbar-item" href="https://medium.com/OpenDataOrg">ODI on Medium<a/> <br />
                  <a class="navbar-item" href="https://twitter.com/OpenDataOrg">ODI on Twitter<a/> <br />
                  <a class="navbar-item" href="https://www.linkedin.com/company/open-data-initiative/>ODI on LinkedIn</a> <br />
                  --></font>
                  </td>
             </tr>
              <tr>
              	<td><font size="2"><a href="/about">About Open Data Initiative</a></font>
              	</td>
              </tr>
              <tr>
              	<td><font size="2"><a target="_blank" href="https://github.com/opendatainitiative/opendatainitiative.github.io/tree/0.15.2">Website revision 0.15.2</a></font></td>
            </tr>
            <tr>
             	<td>
                  <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                  <img alt="Creative Commons License" style="border-width:0" 
                          src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
                  <font size="2">This work by the Open Data Initiative, unless otherwise noted, is licensed under a 
                  <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a></font></td>
             </tr>
      </table>
    </div>
  </div>
</footer>
